
<app-banner [a]="title"></app-banner>
  
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <form #teacherForm="ngForm" (ngSubmit)="addOrEditTeacher()">
                <div class="form-group">
                    <input type="text" [(ngModel)]="obj.firstName"  class="form-control" placeholder="firstName">
                  </div>
      
                  <div *ngIf="teacherForm.controls['firstName'].invalid && 
                  (teacherForm.controls['firstName'].touched || teacherForm.controls['firstName'].dirty)">
                <div *ngIf="teacherForm.controls['firstName'].errors.required">
                  firstName is required
                </div>
    
                <div *ngIf="teacherForm.controls['firstName'].errors.minlength">
                  firstName should have at least 3 carac
                </div>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="obj.lastName"  class="form-control" placeholder="lastName">
              </div>
                  <div class="form-group">
                    <input type="text" [(ngModel)]="obj.speciality"   class="form-control" placeholder="speciality">
                  </div>
                  
                <div class="form-group">
                  <input type="email" [(ngModel)]="obj.email"  class="form-control" placeholder="email">
                </div>
           
      
              
                <div class="form-group">
                  <input type="submit"    class="btn btn-primary py-3 px-5" value="Add/Edit">
                </div>
              </form>  
            </div>
         
          </div>
        </div>
      </div>
  


