<div class="container-fluid bg-primary  mb-5" >
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <h3 class="display-3 font-weight-bold text-white"style="text-center">Login</h3> 
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-5" src="assets/img/header.png" alt="" style="height: 250px;" />
    </div>
  </div>
</div>


<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 card-body rounded-bottom bg-primary p-5">
        <form  name="form" [formGroup]="loginForm" (ngSubmit)="login()"> 
          <div class="form-group">
              <input type="number" formControlName="tel"  class="form-control border-0 p-4" placeholder="Tel"  required>
            </div> 
            <div style="color: red;" *ngIf="submitted && loginForm.get('tel').hasError('required')">
              Tel est obligatoire
             </div>
            <div class="form-group">
              <input  type="password"  id="password"  formControlName="password"    class="form-control border-0 p-4" placeholder="Password">

              <div style="color: red;" *ngIf="submitted && loginForm.get('password').hasError('required')">
                Password est obligatoire
    </div>
            </div>
          <div class="form-group">
            <input type="submit"   class="btn btn-secondary btn-block border-0 py-3" value="login">
          </div>
          <div style="color: red;" *ngIf="errorsMsg != ''">{{errorsMsg}}</div>
        </form>  
      </div>
   
    </div>
  </div>
</div>










  
