<div class="container-fluid bg-primary px-0 px-md-5 mb-5">
    <div class="row align-items-center px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0"> Learning Center</h4>
        <h1 class="display-3 font-weight-bold text-white">
          Réussir ses études, comme par magie !
        </h1>
        <p class="text-white mb-4">
          Skills School of Tunis  est une école fournissant une éducation engageante,
          inspirée et arrondie .Nous donnons la chance à toute personne interessée
           de se professionnaliser dans tous les domaines de développement 
           et communication digitale.
        
        </p>
       
      </div>
      <div class="col-lg-6 text-center text-lg-right">
        <img class="img-fluid mt-5" src="assets/img/header.png" alt="" />
      </div>
    </div>
  </div>
