

<div class="widget-next-match container">

    <h3>Liste des etudiants du course  {{courseName}}</h3>
    <table class="table custom-table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">image</th>
          <th scope="col">firstName</th>
          <th scope="col">lastName</th>
          <th scope="col">email</th>
          <th scope="col">tel</th>
      
          
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <th scope="row">{{student._id}}</th>
          <td><img class="roundedImg" [src]="student.image"> </td>
          <td>{{student.firstName}}</td>
          <td>{{student.lastName}}</td>
          <td>{{student.email}}</td>
          <td>{{student.tel}}</td>
        
     
         
         
         
        </tr>
      
      </tbody>
    </table>
  </div>
  
  
  
