<div class="card border-0 shadow-sm mb-2">
    <img class="card-img-top mb-2" src="assets/img/blog-2.jpg" alt="" />
    <div class="card-body bg-light text-center p-4">
      <h4 class="">
        L'actualité du centre !</h4>
      <div class="d-flex justify-content-center mb-3">
        <small class="mr-3"
          ><i class="fa fa-user text-primary"></i> Admin</small
        >
        <small class="mr-3"
          ><i class="fa fa-folder text-primary"></i> Web Design</small
        >
        <small class="mr-3"
          ><i class="fa fa-comments text-primary"></i> 15</small
        >
      </div>
      <p>

        Le métier de développeur web est assez passionnant, 
        il vous pousse à apprendre sans cesse, à vous tenir à jour. 
        Chaque moment, chaque nouveau projet un réel défi. 
        Il est assez rare de se retrouver à travailler deux fois sur des projets similaires ;
         les problèmes à résoudre grâce au digital ne faisant jamais défaut.
      
      </p>
    
      >
    </div>
  </div>
