
<app-banner [a]="title" ></app-banner>
  
  
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <form [formGroup]="courseForm" >
          <div class="form-group">
              <input type="text" formControlName="nom" [(ngModel)]="course.nom"  class="form-control" placeholder="nom">
            </div>

            <div class="form-group">
              <input type="text"  formControlName="description" [(ngModel)]="course.description" class="form-control" placeholder="description">
            </div>
            
         
          <div class="form-group">
            <input type="number"  formControlName="duration" [(ngModel)]="course.duration"  class="form-control" placeholder="duration">
          </div>
        
          <div class="form-group">
            <input type="submit"  (click)="addOrEditCourse()" class="btn btn-primary py-3 px-5" value={{title}}>
          </div>
        </form>  
      </div>
   
    </div>
  </div>
</div>












  
  
  
